MapCraft = {};

MapCraft.config = {
    hub_url: "/hub",
    // hub_url: "http://localhost:8080/hub",    // local CORS     \
    // hub_url: "http://example.com:8080/hub",  // external CORS  - do not forget to set 'origin' in the hub config
}
