* { margin: 0; padding: 0; }
BODY { padding: 10px; font-family: Myriad Pro,Arial,sans; }
TABLE { width: 100%; }
TABLE TD { vertical-align: top; padding: 2px; }
TABLE TD.nick { font-weight: bold; text-align: center; text-shadow: 1px 1px 3px rgba(0,0,0,0.6); }
TABLE TD.c1 { background: #637D8C; }
TABLE TD.c2 { background: #6D926C; }
TABLE TD.c3 { background: #92836C; }
TABLE TD.time A { color: inherit; text-decoration: none; }
TABLE TD.time A SPAN { color: #CCCCCC; }
