* { padding: 0; margin: 0; font-family: Myriad Pro,Arial,sans; }
a { color: inherit; }
body {
    padding: 50px 15% 0 15%;
    min-width: 224px;
}
#content {
    margin-top: 15px;
    min-height: 100px;
    overflow: auto;
}
#login {
    position: absolute;
    right: 5%;
    top: 0;
    background: #637d8c;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    padding: 5px 15px 5px 15px;
    color: #fff;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
#login:hover {
    padding: 5px 15px 15px 15px;
}
div#logo {
    position: absolute;
    left: 15%;
    top: 50px;
}
div#logo #color {
    height: 100px;
    width: 100px;
    background: #ccc;
    margin-left: -150px;
}
div#logo #mask {
    height: 100px;
    width: 100px;
    background: url('img/logot.png') no-repeat;
}
footer {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-size: 80%;
    color: #aaa;
}
form fieldset {
    border: none;
}
form .row {
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px;
}
form .row div {
    float:left;
    display:inline;
    width:49.9%;
}
form label {
    display: block;
}
form img {
    vertical-align: bottom;
}
form input {
    width: 80%;
}
form textarea {
    width: 80%;
    min-height: 100px;
}
form .btn {
    width: auto;
}
form em {
    color:#F00;
}
header {
    font-size: 150%;
    text-align: center;
}
#olmap {
    width: 100%;
    height: 500px;
}
#pageheader {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
ul.pages {
    list-style-type: none;
    margin: 10px;
    text-align: center;
}
ul.pages li {
    display: inline-block;
}
a.pagenum, span.apagenum {
    background-color: #e2f1e2;
    border: 1px solid #6D926C;
    display: block;
    margin: 1px;
    min-width: 1.2em;
}
a.pagenum:hover {
    background-color: #fff;
}
span.apagenum {
    background-color: #fff;
    text-decoration: none;
}
#panel a {
    color: #fff;
}
#panel li {
    display: inline-block;
    list-style-type: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    padding: 15px 15px 5px 15px;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
#panel li:hover {
    padding: 20px 15px 5px 15px;
}
#panel li.c1 {
    background: #637d8c;
}
#panel li.c2 {
    background: #6d926c;
}
#panel li.c3 {
    background: #92836c;
}
#panel li.current {
    padding: 25px 15px 5px 15px;
}
.pseudolink {
    text-decoration: none;
    border-bottom: 1px dotted;
    cursor: pointer;
}
small {
    font-size: 80%;
    color: #aaa;
}
sup {
    font-size: 60%;
}
table.list {
    border-spacing: 0;
    width: 100%;
}
table.list th {
    padding: 10px;
    text-align: left;
}
table.list td {
    padding: 10px;
}
table.list tr:nth-child(4n) {
    background: #ecf5eb;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
table.list tr:nth-child(4n+2) {
    background: #e2f1e2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
table.list tr:hover {
    background: #f0f8f0;
}
table.list tr:first-child {
    background: #6d926c;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    color: #fff;
    display: table-row;
}

.list_descr td {
	background: #ffffff;
    padding: 0 !important;
}
.list_descr div {
    overflow: hidden;
	height: auto;
	padding: 10px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.list_descr.closed div {
	height: 0;
	padding: 0;
}


.list_toggle {
	padding: 0 10px;
	margin-right: 1em;
	background: url(/img/collapse.png);
	background-repeat: no-repeat;
}

.list_toggle.closed {
	background: url(/img/expand.png);
}


ol.instructions { margin-left: 2em; }
ol.instructions li { margin: 0.5em; color: gray; font-size: 2em;}
ol.instructions p  { color: black; font-size: 0.5em;}

em.important {color: black;}

form.inline input { display: inline; width: auto;}
input.btn {padding: 0.3em 1em;}

div.error {background: darkred; color: white; padding: 1em;}

ul.changes-list    { margin: 1em 0 2em 2em; }
ul.changes-list li { margin: 0.3em 0; list-style-type: circle; }

ul.changes-list .create {color: darkgreen;}
ul.changes-list .delete {color: darkred;}
ul.changes-list .modify {color: darkorange;}

ul.validation-errors-list    { margin: 1em 0 2em 2em; }
ul.validation-errors-list li { margin: 0.3em 0; list-style-type: circle; color: darkred;}

.small {font-size: small; color: gray;}