<?php
$host = 'localhost';
$user = 'mapcrafter';
$pass = 'somepass';
$db   = 'mapcraft';

$auth_type = 'osm';     // osm | fake

$connection = pg_pconnect('host='.$host.' port=5432 dbname='.$db.' user='.$user.' password='.$pass);
pg_query($connection, 'SET search_path TO mapcraft');
?>