%% -*- mode: erlang; indent-tabs-mode: nil  -*-
{erl_opts, [debug_info]}.
{deps, [
        {mochiweb, ".*",
         {git, "git://github.com/mochi/mochiweb.git", "master"}},
        {gproc, ".*",
         {git, "http://github.com/esl/gproc.git", {tag, "v0.2.11"}}}
       ]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
